<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 5px solid #dddddd;
            text-align: left;
            padding: 7px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Displaying My List</h2>
    <a href="{% url 'add' %}">Add Data</a><br><br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Age</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for x in myappdata %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.mobile }}</td>
                <td>{{ x.age }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
